# Dependencies
node_modules/
*/node_modules/

# Build & Dist
dist/
frontend/dist/
dist-ssr/

# Environment Variables
.env
backend/.env
*.env.local

# Logs
*.log
logs/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
